body {
    color: white;
    margin: 0;
    overflow: overlay;
    padding-top: 100px;
    padding-right: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #030385, #156b83);
    scrollbar-width: thin;
    scrollbar-color: #ff0000 transparent;
    scroll-snap-type: inherit;
    background-color: #030385;
    background-image: linear-gradient(315deg, #030385 0%, #156b83 74%);
    background-attachment: fixed;
}

.headerr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header {
    position: fixed;
    background: linear-gradient(to right, #030385, #156b83);
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.2),
                0 -2px 2px -2px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.version-info {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

.nav-button button {
    border: none;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    flex: 1;
}

.container {
    display: flex;
}

.nav-buttons .nav-button {
    margin: 0;
    width: 100%;
}

.small-text {
    font-size: 10px;
}

table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    flex: 3;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #393663;
    color: white;
}

td:first-child {
    text-align: left;
    padding-left: 20px;
}

.button-1 [type="submit"] {
    background: none;
    background-color: #2427e9;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-clip: padding-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.button-1[type="submit"] {
    background-color: #000000;
}

.button-1:hover,
.button-1:focus {
    background-color: #000000;
}

td:nth-child(2) {
    text-align: center;
}

#loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    text-align: center;
}

#loading img {
    width: 100px;
    height: 100px;
}

body.loading > *:not(#loading) {
    display: none;
}

.commit-id {
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

#overlay::-webkit-scrollbar {
    width: 10px;
}

#overlay::-webkit-scrollbar-track {
    background: transparent;
}

#overlay::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}

#overlay::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 0, 0, 0.7);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
}

.notification.success {
    background-color: #4CAF50;
    color: white;
}

.notification.error {
    background-color: #f44336;
    color: white;
}

.popup, .notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
    display: none; /* Hidden by default */
}

.notification.success {
    background: rgba(0, 255, 0, 0.8);
}

.notification.error {
    background: rgba(255, 0, 0, 0.8);
}

/* Style for the fetch button */
.button {
    background: none;
    background-color: #2427e9;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0 10px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-clip: padding-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.button:hover,
.button:focus {
    background-color: #000000;
}
