<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test JSON Table</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"/>
</head>
<body>   
    <div id="loading">
    <!-- source https://loading.io/ -->
        <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading...">
    </div>
    <nav>
        <div class="nav-buttons">
            <div>
                <h2>VersionChecker</h2>
                <p class="small-text">Version: {{ version }}</p>
                <p class="small-text">Commit_id: {{ commit_id }}</p>
            </div>

            {% for host_file in hosts_files %}
                <form action="/index" method="get" class="nav-button">
                    <input type="hidden" name="host" value="{{ host_file }}">
                    <button type="submit">{{ host_file }}</button>
                </form>
            {% endfor %}
        </div>
    </nav>
    <header>
        <h1>Selected host file: {{ selected_host }}</h1>
    </header>
    <main>
        {% if data %}
            <table>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service, version in data.items() %}
                        <tr>
                            <td>{{ service }}</td>
                            <td>{{ version }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>