<!DOCTYPE html>
<html>
<head>
    <title>Upload JSON Host File</title>
</head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_io/favicon.ico') }}" type="image/x-icon">

<body>
    <h1>Upload JSON Host File</h1>
    <form action="/encrypt" method="post" enctype="multipart/form-data">
        <input type="file" name="host_file" accept=".json" required>
        <button type="submit">Encrypt File</button>
    </form>
</body>
</html>